@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.desktop, br{
    display: none;
}
main{
    margin: 0 auto;
    max-width: 375px;
}
header{
    text-align:center;
    padding: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
#logo{
    max-width: 25vw;
}
nav button{
    padding: 10px 20px;
    border: 1px solid hsl(322, 100%, 66%);
    background: white;
    border-radius: 20px;
    color: hsl(322, 100%, 66%);
}
nav button:hover{
    color: white;
    background: hsl(322, 100%, 66%);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4vh;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 4vh;
}
h4{
    font-family: 'Poppins', sans-serif; 
}
h3{
    font-family: 'Poppins', sans-serif; 
}
p{
    font-family: 'Open Sans', sans-serif;
}
.btn-get-started{
    padding: 10px 20px;
    background: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 6vh;
}
#screen-mockups{
    max-width: 325px;
    margin-bottom: 8vh;
}
.btn-get-started{
}
section p{
    padding: 25px;
}
.stats-div{
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 6vh;
}
.stats-div h3{
    font-size: 3.7rem;
    text-align: center;
}
.stats-div p{
    text-align: center;
    color: hsl(192, 100%, 9%);
}
#grow-together, #flowing-conversations, #your-users{
    text-align: center;
    margin: 5vh 0;
}
#grow-together-content, #your-users-content{
    background: hsl(207, 100%, 98%);
}
.section-img{
    max-width: 325px;
}
#community{
    text-align: center;
}
footer{
    color: white;
}
footer div{
    background:hsl(192, 100%, 9%);
    padding: 25px;
}

@media only screen and (min-width: 1440px){
    main{
        max-width: 1440px;
    }
    .desktop, br{
        display: block;
    }
    .mobile{
        display: none;
    }
    nav{
        padding: 25px 60px;
        margin-bottom: 20vh;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.25em;
    }
    h4{
        font-size: 2.5em;
        text-align: left;
        padding-top: 100px;
    }
    section p{
        text-align: left;
        padding:25px 0;
    }
    #community h4{
        text-align: center;
        margin-bottom: 30px;
    }
    .stats-div h3{
        font-size: 5em;
        line-height: 1em;
    }
    .btn-get-started{
        width: 400px;
        height: 80px;
        border-radius: 40px;
        font-size: 1.25em;
        margin-bottom: 10vh;
    }
    #screen-mockups{
        max-width: 1020px;
    }
    .section-img{
        max-width: 530px;
    }
    #statistics{
        display: flex;
    }
    #grow-together-content, #your-users-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 60px;
        max-width: 1440px;
    }
    #flowing-conversations{
        display: flex;
        justify-content: space-evenly;
        padding: 60px;
    }
    #footer-content{
        display: flex;
    }
    h5{
        text-transform: uppercase;
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
    }
    footer p{
        margin-bottom: 25px;
        font-size: 15px;
    }
    input{
        width: 320px;
        height: 50px;
        border: none;
        border-radius: 5px;
    }
    footer button{
        width: 165px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background:hsl(322, 100%, 66%);
        color: white;
        margin-left: 30px;
    }
    .social img{
        width: 30px;
        margin-right: 15px;
        position: relative;
        left: -25px;
    }
}