@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    padding: 25px;
    max-width: 375px;
}
header{
    text-align:center
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
#logo{
    max-width: 25vw;
}
nav button{
    padding: 10px 20px;
    border: 1px solid hsl(322, 100%, 66%);
    background: white;
    border-radius: 20px;
    color: hsl(322, 100%, 66%);
}
nav button:hover{
    color: white;
    background: hsl(322, 100%, 66%);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-bottom: 4vh;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 4vh;
}
.btn-get-started{
    padding: 10px 20px;
    background: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 6vh;
}
#screen-mockups{
    max-width: 325px;
    margin-bottom: 8vh;
}
.btn-get-started{
}
.stats-div{
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 6vh;
}
.stats-div h3{
    font-size: 3.7rem;
    text-align: center;
}
.stats-div p{
    text-align: center;
    color: hsl(192, 100%, 9%);
}
#grow-together, #flowing-conversations, #your-users{
    text-align: center;
    margin: 5vh 0;
}
.section-img{
    max-width: 325px;
}
#community{
    text-align: center;
}
#grow-together{
    background: url(images/bg-section-top-mobile-1.svg) no-repeat, url(images/bg-section-bottom-mobile-1.svg) no-repeat;
    background-position: 0 0, 100% 100%;
}
#your-users{
    background: url(images/bg-section-top-mobile-2.svg) no-repeat, url(images/bg-section-bottom-mobile-2.svg) no-repeat;
    background-position: 0 0, 100% 100%;
    background-size: 100vw;
}
footer{
    background: url(images/bg-footer-top-mobile.svg) no-repeat;
}